@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes scan {
        0% {
            top: 0%;
            opacity: 0;
        }

        5% {
            opacity: 1;
        }

        95% {
            opacity: 1;
        }

        100% {
            top: 100%;
            opacity: 0;
        }
    }

    .animate-scan {
        animation: scan 3s ease-in-out infinite;
    }

    .shadow-scan {
        box-shadow: 0 0 15px 2px rgba(255, 107, 0, 0.6);
    }

    .shadow-scan-blue {
        box-shadow: 0 0 15px 2px rgba(0, 150, 255, 0.6);
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.05);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.2);
    }
}